/* Global */
body{
    font-family: system-ui;
    background-color: #c0c0c0;
}
/* Nav Bar */
.header{
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(81, 14, 158);
    box-shadow: 0px 3px 4px #888888;
}
.title{
    font-size: 15pt;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bolder;
    color: white;
}
/* Paineis */
.container-ciclo, .container-nomes{
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 95px;
    padding: 20px;
    border: 1px solid rgb(81, 14, 158);
    border-radius: 15px;
}
.title-container{
    font-size: 18pt;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}
.title-grupo{
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
}
.title-membros{
    font-size: 13pt;
    text-align: center;
}
.space{
    margin-bottom: 20px;
}
/* style button */
.button{
    width: 100%;
    text-align: center;
}
.btn-edit{
    margin-top: 20px;
    width: 120px;
    background-color: rgb(81, 14, 158);
    border-color: rgb(81, 14, 158);
    color: white;
}
.btn-edit:hover{
    background-color: rgb(93, 17, 179);
    border-color: rgb(92, 17, 179);
    color: white;
}
/* formulario */
.container-ciclo-edit, .container-nomes-edit{
    margin-top: 15px;
}
.input-style{
    width: 40%;
    text-align: center;
    margin-left: 30%;
}
.input-style-nomes{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
.form-container{
    width: 40%;
    margin-left: 30%;
    border: 1px solid rgb(92, 17, 179);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}
.form-label{
    font-size: 14pt;
    font-weight: bold;
}
.alert{
    width: 40%;
    margin-left: 30%;
    margin-top: 15px;
    padding: 5px;
}